<div class="login-screen">
  <h3 class="login-screen_message">Veuillez vous identifier, s'il vous plait</h3>
  <div class="login-screen_input">
    <div class="p-input-right">
      <div class="login-screen_icon">
        <i class="pi pi-user" style="font-size: 2rem"></i>
      </div>

      <input
        #login
        autofocus
        pInputText
        autocomplete="off"
        class="p-inputtext-lg"
        placeholder="Identifiant"
        size="30"
        type="text">
    </div>
    <div class="p-input-right">
      <!--
         <i class="pi pi-arrow-circle-right" *ngIf="password.value"></i>
      <i class="pi pi-key"></i>
      -->
      <div class="login-screen_icon">
        <i class="pi pi-key" style="font-size: 2rem"></i>
      </div>

      <input
        #password
        autofocus
        pInputText
        autocomplete="off"
        class="p-inputtext-lg"
        placeholder="Mot de passe"
        size="30"
        type="password">
    </div>
  </div>
  <!--
    <div class="login-screen_password-hint">
    TouchId or password
  </div>
  -->
</div>
